*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
}
.p_container{
  border: 22px solid rgb(26, 205, 196);
  font-size: 10px;
}
.c_container{
margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
width:70%;

}
.heading{
  font-size: 4em;
}
bold{
  font-weight: 900;
}
.p1{
  padding: 12px;
  margin-top: 20px;
  border: 2px dashed black;
}
.para{
  margin-top: 32px;
font-size: 3em;
}
.p2{
  outline-style:dotted;
  outline-offset: 2em !important;
margin: 19px 0px;
}
@media(max-width:900px){
  .p_container{
    font-size: 7px;
  }
}
@media(max-width:600px){
  .p_container{
    font-size: 5px;
  }
}
