*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(115deg,rgba(58,58,158, 0.4),rgba(136, 136,206,0.5)),url(images/survey.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    line-height:1.6;
    font-weight: 300;
    background-attachment:fixed;
    font-family:'Gill Sans','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    font-size: 20px;
}
#title{
    margin-top:3rem;
    text-align: center;
    font-size: 2em;
}
#description{
    text-align: center;
 font-size: 1.3em;
 font-style: italic;
}
.survey-form{
 min-width: 600px;
   background-color:rgba(0,0,0,.5);
    color: white;
    border-radius: 5px;
   padding: 34px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
}
.info{
   padding:12px
}
select{
    font-size: 1em;
    width: 101%;
    padding: 2px;
    height: 42px;
}
input,textarea,label{
    line-height: inherit;
    font-size: inherit;
    margin: 0;
    width: 100%;
    padding: 5px;
border-radius: 3px;
border:1px;
}
.inline{
    width: unset;
    vertical-align: middle;
    margin: 0px 5px 0 0;
}
.submitt{
    width: 101%;
    background-color: rgb(51, 197, 242);
    color: aliceblue;
}
.textbox{
    font-size: 0.8em;
}
@media(max-width:3000px){

    .survey-form{
        width: 40%;
    }
}
@media(max-width:670px){
.container{
    font-size: 15px;
}
.survey-form{
    min-width: 400px;
}
}
@media(max-width:470px){
    .container{
        font-size: 15px;
    }
    .survey-form{
        min-width: 300px;
    }
    }
    @media(max-width:370px){
        .container{
            font-size: 13px;
        }
        }